.client-box-list {
  @include flex;
  gap: 30px;
}

.client-box {
  @include flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
}

.client-box:hover .client-icon,
.client-box:focus .client-icon {
  fill: var(--accent-color);
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
