.special-section {
  display: flex;
  justify-content: center;
}

.icon-block {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  text-align: center;
}

.special-section-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading-color);
}
.special-section-text {
  margin-left: 0px;
  margin-top: 10px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.special-section .item {
  max-width: 270px;
}

.special-section .item:not(:last-child) {
  margin-right: 30px;
}
